<!DOCTYPE html>
<html>
    <head>
 
     
    </head>
    <body>
        <div>
            <h1>Animals Corobabavirus</h1>
            <div id ="selected-animal">
                <img  width="20%" src={{SelectedItem.img}}>
                <h2>{{SelectedItem.title}}</h2>
                <p>{{SelectedItem.description}}</p>
            </div>
            <div>
                <div>
                    <ul id="henryUl" *ngFor="let item of liste">
                      <li (click)="UpdateMain(item.id)">
                        <img src={{item.img}} 
                        alt="Corobabavirus" id={{item.title}} width="200" >
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>